* {
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}


body {font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#CCCCCC; font-size:small; }
h1, h2, h3, p {margin:0; padding:0;}
h1 {font-size:250%; background-color:#0099FF;}
h2 {color:#0099FF; background-color:#000000;padding-top:5px; padding-bottom:5px;}

.music, .film, .sport {
    padding-left: 60px;
    background-position: 1% center;
}
.music {
    background-color:#CC99FF;
    background-image: url(images/music-white.png);
    background-repeat: no-repeat;

}
.film {
    background: url(images/film-white.png) no-repeat , #66CC66;
}
.sport {
    background: url(images/sport-white.png) no-repeat , #CCCC66;
}
div, h1, h2 {padding-left:20px;}
div {padding-top:10px; padding-bottom:10px;}
#wrapper {width:420px; margin-left:auto; margin-right:auto}


.music p {color:white; text-decoration:none;}
.film p {color:yellow; text-decoration:none}

.music a:hover {background-color:white}
.film a:hover {text-decoration:underline;}