html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: verdana, sans-serif;
    background: #EEEEEE;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.placeholder {
    text-align: center;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 2px #AAAAAA;
}

.code {
    font-weight: bold;
}