div#main {
width:570px;
padding:0;
margin: 0 auto;
margin-top:230px;

/* background:url(images/books.png) top center no-repeat; */
}


div#css, div#flash, div#photoshop, div#illustrator {
margin:0;
padding-top:20px;
padding-left:70px;
padding-bottom: 20px;
padding-right: 10px;
}

p.price {
margin-bottom: 20px;
}
