html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #F3F3EE;
    font-family: verdana, sans-serif;
}

.wrapper {
    width:1120px;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

article {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

.news, .sport {
    width:48%;
}

.thumb {
    margin-right: 20px;
}