
                <div class="item">
                    <img src="http://placehold.it/200x200/fff000/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/818479/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/B5CBB7/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/D2E4C4/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/E4E9B2/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/E7E08B/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/00A3E0/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>
                <div class="item">
                    <img src="http://placehold.it/200x200/EAAA00/ffffff?text=Thumb">
                    <p class="desc">A photograph</p>
                </div>  