@charset "UTF-8";
/* CSS Document */

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:small;
padding:0; margin:0;
background-color:#666666;
background-image: url(images/books.png);
background-repeat: no-repeat;
background-position: center top;
}





#css {
background-image: url(images/dreamweaver.gif);
background-repeat: no-repeat;
background-position: 10px 10px;
background-color:#97a33e;
}

#flash {
background-image:url(images/flash.gif) ;
background-repeat: no-repeat;
background-position: 10px 10px;
background-color:#92262a;
}

#photoshop {
background-image:url(images/photoshop.gif) ;
background-repeat: no-repeat;
background-position: 10px 10px;
background-color:#4274b3;
}


#illustrator {
background-image:url(images/illustrator.gif) ;
background-repeat: no-repeat;
background-position: 10px 10px;
background-color:#e4a040 ;
}

h2, p {
padding:0; margin:0;
}

h2 {
	color: white;
}
h3 {

}
p.price {
color: white;
}

p.desc {
	line-height: 150%;
}

.author {
	font-style: italic;
}