
/*RESET*/
body, div, h2, h3, p, a {
    padding:0; margin:0;
}

body{
    background-image: url(images/books.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#main {
    margin-top:230px;
}


