@charset "UTF-8";
/* CSS Document */

/*RESET*/
body, div, h2, h3, p, a {
    padding:0; margin:0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*End of RESET*/

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:small;
padding:0; margin:0;
background-color:#666666;
background-image: url(images/books.png);
background-repeat: no-repeat;
background-position: center top;
}


.wrapper {
	width: 800px;
	margin: 230px  auto 0 auto;
}

.css, .flash, .photoshop, .illustrator {
	padding: 30px;
	margin-bottom: 30px;
}

.book {
	margin-bottom: 30px;
}

.css {

background-color:#97a33e;
}

.flash {

background-color:#92262a;
}

.photoshop {

background-color:#4274b3;
}


.illustrator {

background-color:#e4a040 ;
}

h2, p {
padding:0; margin:0;
}

h2 {
	color: white;
}
h3 {

}
p.price {
color: white;
}

p.desc {
	line-height: 150%;
}

.author {
	font-style: italic;
}