/*Reset*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div,h1,h2,p,a {
    padding: 0;
    margin: 0;
}

/*End of reset*/

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    background-color: #555;
    color: white;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    
}

.main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    
    font-style: italic;
    width: 100%;
}

p {
    color: black;
    width: 100%;
}

a {
    display: block;
    font-weight: bold;
    font-style: italic;
    color: blue;
    
    width: 100%;
}

.odd {
    background-color: #999;
}

.even {
    background-color: #AAA;
}

.odd, .even {
    padding: 20px;
    width: 30%;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*align-content:stretch;*/
}

.odd a, .even a {
  align-self: flex-end;
}

