<div class="sport">
                <h1>Sport</h1>
                <article>
                    <div class="thumb">
                        <img src="http://placehold.it/184x104/ff00ff/ffffff?text=Thumb">
                    </div>
                    <div class="desc">
                        <h2 class="news-headings">Sport Heading one</h2>
                        <p class="tag">Football</p>
                    </div>
                </article>
                <article>
                    <div class="thumb">
                        <img src="http://placehold.it/184x104/ff00ff/ffffff?text=Thumb">
                    </div>
                    <div class="desc">
                        <h2 class="news-headings">Sport Heading two</h2>
                        <p class="tag">Rugby</p>
                    </div>
                </article>
                <article>
                    <div class="thumb">
                        <img src="http://placehold.it/184x104/ff00ff/ffffff?text=Thumb">
                    </div>
                    <div class="desc">
                        <h2 class="news-headings">Sport Heading three</h2>
                        <p class="tag">Tennis</p>
                    </div>
                </article>
            </div> <!--end of sport-->