div{
    width: 150px;
    height: 150px;
    background-color: gray;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

p{
    color: white;
    font-weight: bold;
    font-family: verdana, helvetica, sans-serif;
    text-align: center;
}


h1{
    text-align: center;
}

/*******************Write your CSS here****************/
