html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div, img, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: verdana, sans-serif;
}

.wrapper {
    width:1000px;
    margin: 0 auto;
    background-color: pink;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.item {
    position: relative;
    padding-top: 25px;
}

.desc {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-style: italic;
}