body, div, h1, p img {
    margin: 0;
    padding: 0;
}

body {
    background: #CCCCCC;
    font-family: verdana, sans-serif;
}

.wrapper {
    
}

img {
    width: 100%;
    border-radius: 400px 400px 0 0;
    box-shadow: 1px 1px 0px 2px #000000;
}

.thumbnail {
    width: 24%;
}
.thumbnails {
    display: flex;
    justify-content: space-around;
}

.caption {
    text-align: center;
}