a, p, ul, div, li{margin:0; padding: 0;}
body{padding: 10px; margin: 10px;  background-color: gray;}
section{position:relative; width:400px; margin: 0 auto;}
ul{list-style: none;}
a{display: block; width: 96px; height: 96px; line-height: 96px;
text-align: center; outline: solid 4px green; color: green; position: absolute; top:0; left:0;}
p a{color: pink; outline: solid 4px pink;top:108px; left:0}
div a{color: red; outline: solid 4px red;top:216px; left:0;}
li a{color: blue; outline: solid 4px blue;top:108px; left:108px;}
#sun {color: yellow; outline: solid 4px yellow;top:0; left:216px;}
.royal {color: purple; outline: solid 4px purple;top:108px; left:216px;}
.box a{color:black;  outline: solid 4px black;top:216px; left:216px;}
