html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper {
    width:1120px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.logo img {
   width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 70%;
    height: 3em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nav-links li {
    padding: 0 1em;
}

.third {
    width: 31%;
}

.half {
    width: 48%;
}

.threes, .twos {
    display: flex;
    justify-content: space-between;
}

.shop {
    margin-bottom: 20px;
}