
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body, div, h1, h2, img, ul, li, a {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: verdana, sans-serif;
    background-color: black;
    background-image: url(images/header-bkg-bw.png);
    color: white;
}

header {
    background: url(images/header-bkg.png);
    text-align: center;
   padding: 2em;
    color:white;
}

header h1 {
    font-size: 5em;
    text-shadow: 1px 1px 1px #000;
}

header h2 {
    font-size: 2em;
    text-shadow: 1px 1px 1px #000;
}

nav {
  background: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    padding: 1em;
}

.thumbnails {
    display: flex;
    width: 100%;
}

.thumb {
    width: 16.66667%;
}

img {
    width: 100%;
}

.photography h1,.patterns h1 {
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  padding: 1em 0 0.3em 0;
}

.large-img {
  text-align: center;
  order: 2;
  margin: 0 1em;
}

.large-img img {
  width: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  font-size: 3em;
  font-weight: bold;
  color: #000;
}

.prev {
  order: 1;
}

.next{
  order: 3;
}

.work h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  padding-bottom: 1em;
}


