html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url(images/stripe.png), #000;
}

.wrapper {
    width:1120px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo img {
  width: auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.threes {
  display: flex;
  justify-content: space-between;
}

.twos {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin-right: 30px;
}